* {
    outline: none;
    box-sizing: border-box;
}
body{
    background-color: rgb(130, 213, 213);
}
nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    
    background-image: linear-gradient(#033747,#012733);

}
nav .logo p{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: rgb(115, 188, 207);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: cursive ;

}


#header {
    background-color: rgb(190, 102, 55);
    padding: 10px;
    color: white;
}
#heading {
    font-size: 35px;
}
#productTable {
    border-width: 2px;
    border-color: cyan;
    padding:30px 30px 30px;
}

#displayTable {
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}
#OutputTable{
    background-color: rgb(194, 98, 98);
    color:white;
}
#vertical {
    border-left: 3px solid dimgray;
    height: 400px;
    position: absolute;
    left: 50%;
    text-align: right;
}

#image {
    width: 250px;
}

#newData {
    border-color: lightslategrey;
}

.form-group{
    flex-wrap: nowrap;
    margin-bottom: 20px;
}
